
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AlimentosCRUD.Models.Alimento
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modificar</title>
</head>
<body>
    <div>
        <form action="/Alimento/Modificar" method="post">
            <input name="Id" type="hidden" value="@Model.Id">
            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" type="text" name="Nombre" value="@Model.Nombre">
            </div>
            <div class="form-group">
                <label>Precio</label>
                <input class="form-control" type="number" name="Precio" value="@Model.Precio">
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
    </div>
</body>
</html>
